@use '../../helpers/mixins';
@use '../../variables/global';

/* Setting the max-width of the content area for all blocks */
main {
  *[class*='wp-block'] {
    //@apply container;
    @include mixins.the-container;

    &:not(.wp-block-heading) {
      margin-bottom: 1rem;
    }

    // Disable margin-bottom for nested blocks
    *[class*='wp-block'] {
      margin-bottom: 0;
    }

    @media (min-width: global.$wicket-breakpoint-xl) {
      max-width: var(--wp--style--global--content-size);
    }

    &.alignfull {
      max-width: 100% !important;
    }
  }
}

main {
  // Case: First level blocks are core blocks add mobile inline padding
  & > *:is(.wp-block-heading, .wp-block-paragraph, .wp-block-columns, .wp-block-group, .wp-block-table, .wp-block-gravityforms, .wp-block-wicket-call-out-card):not(.alignfull) {

    @media (max-width: global.$wicket-breakpoint-sm) {
      margin-inline: var(--space-200);
      width: auto;
    }
  }

  & > *:is(.wp-block-heading, .wp-block-paragraph, .wp-block-columns, .wp-block-group, .wp-block-table, .wp-block-gravityforms):is(.alignfull) {

    @media (max-width: global.$wicket-breakpoint-sm) {
      padding-inline: var(--space-200);
    }
  }
}
