/* Setting the max-width of the content area for all blocks */
*[class*='wp-block'] {
  max-width: var(--wp--style--global--content-size);
  margin-inline: auto;

  &:not(.wp-block-heading) {
    margin-bottom: 1rem;
  }

  // Disable margin-bottom for nested blocks
  *[class*='wp-block'] {
    margin-bottom: 0;
  }

  @media (min-width: 1536px) {
    max-width: var(--wp--style--global--content-size);
  }
  @media (min-width: var(--wp--style--global--content-size)) {
    max-width: var(--wp--style--global--content-size);
  }

  &.alignfull {
    max-width: 100%;
  }
}
