/* Setting the max-width of the content area for all blocks */
*[class*='wp-block'] {
  max-width: var(--wp--style--global--content-size);
  margin-inline: auto;

  @media (min-width: 1536px) {
    max-width: 1536px;
  }

  &.alignfull {
    max-width: 100%;
  }
}
