footer {
  max-width: 100% !important;

  @apply bg-(--nav-footer-bg)
         border-t-(length:--border-footer-top)
         border-(--nav-footer-border-top)
         text-(--nav-footer-text-content);

  .footer-section {
    @apply flex flex-col gap-4;
  }
}
