header {
  max-width: 100% !important;

    .right-hamburger-button {
      @apply ml-4 items-center;
    }

    .left-hamburger-button {
      @apply mr-10 items-center;

      &.open {
        i.fa-bars {
          &::before {
            content: "\58";
          }
        }
      }
    }

    .nav-dropdown-mobile {
      @apply bg-[--dropdown-mega-bg];
    }

    .right-hamburger-close-button {
      @apply inline-flex md:hidden mr-10 items-center;
    }

    .main-nav {
      @apply w-full lg:flex border-t-[--nav-main-border] border-b-[--nav-main-border] border-t-[length:--border-main-nav-top] border-b-[length:--border-main-nav-bottom] bg-[--nav-main-bg];

      &__dropdown-menu-item,
      &__mega-menu-item {
        @include primary-menu-item-styles;
      }

      &__mega-menu-item {
        @apply static;

        .nav-mega-dropdown {
          @apply absolute z-20 grid grid-cols-4 gap-2 left-0 mt-4 w-full bg-[--dropdown-mega-bg] p-3 lg:p-7 flex-wrap rounded-b-[--dropdown-mega-corner-radius];
          filter: drop-shadow(var(--elevation-4));
        }
      }

      &__dropdown-menu-item {
        .nav-dropdown {
          @apply absolute z-20 mt-4 w-56 bg-[--dropdown-mega-bg] p-3 lg:p-7 shadow-lg left-0 rounded-b-[--dropdown-mega-corner-radius];

          &.last {
            @apply right-0 left-auto;
          }
        }
      }
    }

    .main-nav-mobile {

      // Mobile Main Menu > Mega Menu Heading Item
      .mobile-mega-menu-heading-item {
        @apply block w-full p-3 text-[--dropdown-mega-heading-link] font-bold;
      }

      .nav-parent-item-mobile-wrap,
      .nav-mega-parent-item-mobile-wrap {
        @include primary-menu-item-styles;
        @apply inline-flex justify-between items-center w-full;

        &:hover,
        &:active,
        &:focus,
        &.open {
          >span {
            @apply underline;
          }
        }
      }

      .nav-mega-parent-item-mobile,
      .nav-parent-item-mobile {
        @apply flex flex-col w-full;
      }
    }


  .search-toggle-button {
    @apply text-button-label-md rounded-[--interactive-corner-radius-md] p-[--space-200] no-underline;
    @include button-ghost;
  }

  // Responsive fallbacks for backwards compatibility with themes that don't use Tailwind classes

  // Left hamburger button - only show on mobile (up to 767px)
  .left-hamburger-button {
    @apply inline-flex;

    @media screen and (min-width: $wicket-breakpoint-md) {
      @apply hidden;
    }
  }

  // Right hamburger button - only show on tablets (768px to 1023px)
  .right-hamburger-button {
    @apply hidden;


    @media screen and (min-width: $wicket-breakpoint-md) and (max-width: $wicket-breakpoint-lg-max) {
      @apply inline-flex;
    }
  }

  // Main navigation list - only show on desktop (1024px+)
  .main-nav__list,
  nav.main-nav > ul {
    @apply hidden;

    @media screen and (min-width: $wicket-breakpoint-lg) {
      @apply flex;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

