.search-page-left-col {
  @apply basis-1/4
         bg-(--bg-white)
         relative
         after:content-['']
         after:absolute
         after:top-0
         after:bottom-0
         after:right-full
         after:bg-(--bg-white)
         after:w-[30vw]
         before:block
         lg:before:hidden
         before:content-['']
         before:absolute
         before:top-0
         before:bottom-0
         before:left-full
         before:bg-(--bg-white)
         before:w-[30vw];

  &:has(.open) {
    @media screen and (max-width: 767px) {
      filter: drop-shadow(var(--elevation-4));
    }
  }
}

.search-page-right-col {
  &__sort-by {
    @apply flex
           gap-0
           md:gap-3
           flex-col
           md:flex-row
           w-full
           md:w-auto
           items-start
           md:items-center;

    select {
      @apply w-full md:w-auto;
    }
  }
}
