/* -------------------------------------------------------------------------
 * CORE BUTTON BLOCK
 * ------------------------------------------------------------------------- */

 .wp-block-buttons {
  &.wp-block-buttons-is-layout-flex {
    gap: var(--wp--preset--spacing--150);
  }

  // Don't let general block widths mess with button widths
  .wp-block-button {
    width: unset;

    &.alignfull {
      width: 100%;
    }
  }
  &.alignfull {
    .wp-block-button {
      width: 100%;
    }
  }
}

.wp-block-button {
  .wp-block-button__link.wp-element-button {
    display: inline-flex;
    align-items: center;
    gap: var(--wp--preset--spacing--100);

    &[target="_blank"] {
      @include add-external-icon;
    }
  }

  /* Default (Primary) button */
  &:not([class*="is-style"]) {
    .wp-block-button__link.wp-element-button {
      @include button-primary;

      &:hover {
        img {
          filter: invert(100%);
        }
      }
    }
  }

  /* Default (Primary) button */
  &.is-style-default {
    .wp-block-button__link.wp-element-button {
      @include button-primary;

      &:hover {
        img {
          filter: invert(100%);
        }
      }
    }
  }

  /* Default (Primary) reversed button */
  &.is-style-primary_reversed {
    .wp-block-button__link.wp-element-button {
      @include button-primary-rev;

      &:hover {
        img {
          filter: invert(100%);
        }
      }
    }
  }

  /* Secondary button */
  &.is-style-secondary {
    .wp-block-button__link.wp-element-button {
      @include button-secondary;

      &:hover {
        img {
          filter: invert(100%);
        }
      }
    }
  }
  
  /* Secondary Reversed button */
  &.is-style-secondary_reversed {
    .wp-block-button__link.wp-element-button {
      @include button-secondary-rev;

      &:hover {
        img {
          filter: invert(100%);
        }
      }
    }
  }

  /* Ghost button */
  &.is-style-ghost {
    .wp-block-button__link.wp-element-button {
      @include button-ghost;

      &:hover {
        img {
          filter: invert(100%);
        }
      }
    }
  }

  /* Ghost button reversed */
  &.is-style-ghost_reversed {
    .wp-block-button__link.wp-element-button {
      @include button-ghost-rev;

      &:hover {
        img {
          filter: invert(100%);
        }
      }
    }
  }
}
