$wp-color-text-content: var(--text-content);
$wp-color-text-content-reversed: var(--text-content-reversed);
$wp-color-text-content-secondary: var(--text-content-secondary);
$wp-color-text-content-secondary-reversed: var(--text-content-secondary-reversed);
$wp-color-interactive: var(--interactive);
$wp-color-interactive-reversed: var(--interactive-reversed);
$wp-color-text-disabled: var(--text-disabled);
$wp-color-text-button-label: var(--text-button-label);
$wp-color-text-button-label-reversed: var(--text-button-label-reversed);
$wp-color-text-accent: var(--text-accent);
$wp-color-text-accent-reversed: var(--text-accent-reversed);
$wp-color-text-label-1: var(--text-label-1);
$wp-color-text-label-2: var(--text-label-2);
$wp-color-text-tag: var(--text-tag);
$wp-color-state-info-primary: var(--state-info-primary);
$wp-color-state-info-primary-light: var(--state-info-primary-light);
$wp-color-state-info-secondary: var(--state-info-secondary);
$wp-color-state-info-secondary-light: var(--state-info-secondary-light);
$wp-color-state-warning: var(--state-warning);
$wp-color-state-warning-light: var(--state-warning-light);
$wp-color-state-error: var(--state-error);
$wp-color-state-error-light: var(--state-error-light);
$wp-color-state-success: var(--state-success);
$wp-color-state-success-light: var(--state-success-light);
$wp-color-bg-label: var(--bg-label);
$wp-color-bg-label-2: var(--bg-label-2);
$wp-color-bg-tag: var(--bg-tag);
$wp-color-bg-interactive: var(--bg-interactive);
$wp-color-bg-interactive-reversed: var(--bg-interactive-reversed);
$wp-color-bg-white: var(--bg-white);
$wp-color-bg-card: var(--bg-card);
$wp-color-bg-dark: var(--bg-dark);
$wp-color-bg-dark-alternate: var(--bg-dark-alternate);
$wp-color-bg-light: var(--bg-light);
$wp-color-bg-light-alternate: var(--bg-light-alternate);
$wp-color-bg-light-neutral: var(--bg-light-neutral);
$wp-color-bg-image-overlay: var(--bg-image-overlay);
$wp-color-bg-accent-dark: var(--bg-accent-dark);
$wp-color-bg-accent-light: var(--bg-accent-light);
$wp-color-bg-callout-1: var(--bg-callout-1);
$wp-color-bg-callout-2: var(--bg-callout-2);
$wp-color-bg-disabled: var(--bg-disabled);
$wp-color-border-card: var(--border-card);
$wp-color-border-dark: var(--border-dark);
$wp-color-border-light: var(--border-light);
$wp-color-border-white: var(--border-white);
$wp-color-border-accent: var(--border-accent);
$wp-color-border-interactive: var(--border-interactive);
$wp-color-border-interactive-reversed: var(--border-interactive-reversed);
$wp-color-border-tag: var(--border-tag);
$wp-color-border-input-default: var(--border-input-default);
$wp-color-border-disabled: var(--border-disabled);
$wp-border-radius-0: 0rem;
$wp-border-radius-100: 0.5rem;
$wp-border-radius-150: 0.75rem;
$wp-border-radius-200: 1rem;
$wp-border-radius-250: 1.25rem;
$wp-border-radius-300: 1.5rem;
$wp-border-radius-400: 2rem;
$wp-border-radius-500: 2.5rem;
$wp-border-radius-600: 3rem;
$wp-border-radius-025: 0.125rem;
$wp-border-radius-050: 0.25rem;
$wp-box-shadow-4: 0px 4px 8px 0px rgba(35, 42, 49, 0.20);
$wp-box-shadow-8: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
$wp-box-shadow-12: 0px 12px 12px 0px rgba(0, 0, 0, 0.25);
$wp-box-shadow-focus: 0px 0px 1px 2px #0997FF;
$wp-layout-content: 1320px;
$wp-layout-wide: 1320px;
$wp-layout-sidebar: 322px;
$wp-letter-spacing-none: normal;
$wp-letter-spacing-tight: -.01em;
$wp-letter-spacing-loose: .05em;
$wp-letter-spacing-looser: .1em;
$wp-line-height-tiny: 1.1rem;
$wp-line-height-small: 1.2rem;
$wp-line-height-medium: 1.4rem;
$wp-line-height-normal: 1.6rem;
$wp-font-size-heading-3xl: var(--heading-3xl-font-size);
$wp-font-size-heading-2xl: var(--heading-2xl-font-size);
$wp-font-size-heading-xl: var(--heading-xl-font-size);
$wp-font-size-heading-lg: var(--heading-lg-font-size);
$wp-font-size-heading-md: var(--heading-md-font-size);
$wp-font-size-heading-sm: var(--heading-sm-font-size);
$wp-font-size-heading-xs: var(--heading-xs-font-size);
$wp-font-size-body-lg: var(--body-lg-font-size);
$wp-font-size-body-md: var(--body-md-font-size);
$wp-font-size-body-sm: var(--body-sm-font-size);
$wp-font-size-quote: var(--quote-font-size);
$wp-font-size-placeholder: var(--placeholder-font-size);
$wp-font-size-caption: var(--caption-font-size);
$wp-font-size-button-label-lg: var(--button-label-lg-font-size);
$wp-font-size-button-label-md: var(--button-label-md-font-size);
$wp-font-size-button-label-sm: var(--button-label-sm-font-size);
$wp-font-size-form-label: var(--form-label-font-size);
$wp-font-size-date-label-md: var(--date-label-md-font-size);
$wp-font-size-date-label-sm: var(--date-label-sm-font-size);
$wp-font-size-label-lg: var(--label-lg-font-size);
$wp-font-size-label-md: var(--label-md-font-size);
$wp-font-size-label-sm: var(--label-sm-font-size);
$wp-spacing-25: 0.125rem;
$wp-spacing-50: 0.25rem;
$wp-spacing-75: 0.375rem;
$wp-spacing-100: 0.5rem;
$wp-spacing-150: 0.75rem;
$wp-spacing-200: 1rem;
$wp-spacing-250: 1.25rem;
$wp-spacing-300: 1.5rem;
$wp-spacing-400: 2rem;
$wp-spacing-500: 2.5rem;
$wp-spacing-600: 3rem;
$wp-spacing-800: 4rem;
$wp-spacing-1000: 5rem;
$wp-spacing-none: 0rem;

:root {
  --color-text-content: var(--text-content);
  --color-text-content-reversed: var(--text-content-reversed);
  --color-text-content-secondary: var(--text-content-secondary);
  --color-text-content-secondary-reversed: var(--text-content-secondary-reversed);
  --color-interactive: var(--interactive);
  --color-interactive-reversed: var(--interactive-reversed);
  --color-text-disabled: var(--text-disabled);
  --color-text-button-label: var(--text-button-label);
  --color-text-button-label-reversed: var(--text-button-label-reversed);
  --color-text-accent: var(--text-accent);
  --color-text-accent-reversed: var(--text-accent-reversed);
  --color-text-label-1: var(--text-label-1);
  --color-text-label-2: var(--text-label-2);
  --color-text-tag: var(--text-tag);
  --color-state-info-primary: var(--state-info-primary);
  --color-state-info-primary-light: var(--state-info-primary-light);
  --color-state-info-secondary: var(--state-info-secondary);
  --color-state-info-secondary-light: var(--state-info-secondary-light);
  --color-state-warning: var(--state-warning);
  --color-state-warning-light: var(--state-warning-light);
  --color-state-error: var(--state-error);
  --color-state-error-light: var(--state-error-light);
  --color-state-success: var(--state-success);
  --color-state-success-light: var(--state-success-light);
  --color-bg-label: var(--bg-label);
  --color-bg-label-2: var(--bg-label-2);
  --color-bg-tag: var(--bg-tag);
  --color-bg-interactive: var(--bg-interactive);
  --color-bg-interactive-reversed: var(--bg-interactive-reversed);
  --color-bg-white: var(--bg-white);
  --color-bg-card: var(--bg-card);
  --color-bg-dark: var(--bg-dark);
  --color-bg-dark-alternate: var(--bg-dark-alternate);
  --color-bg-light: var(--bg-light);
  --color-bg-light-alternate: var(--bg-light-alternate);
  --color-bg-light-neutral: var(--bg-light-neutral);
  --color-bg-image-overlay: var(--bg-image-overlay);
  --color-bg-accent-dark: var(--bg-accent-dark);
  --color-bg-accent-light: var(--bg-accent-light);
  --color-bg-callout-1: var(--bg-callout-1);
  --color-bg-callout-2: var(--bg-callout-2);
  --color-bg-disabled: var(--bg-disabled);
  --color-border-card: var(--border-card);
  --color-border-dark: var(--border-dark);
  --color-border-light: var(--border-light);
  --color-border-white: var(--border-white);
  --color-border-accent: var(--border-accent);
  --color-border-interactive: var(--border-interactive);
  --color-border-interactive-reversed: var(--border-interactive-reversed);
  --color-border-tag: var(--border-tag);
  --color-border-input-default: var(--border-input-default);
  --color-border-disabled: var(--border-disabled);
  --border-radius-0: 0rem;
  --border-radius-100: 0.5rem;
  --border-radius-150: 0.75rem;
  --border-radius-200: 1rem;
  --border-radius-250: 1.25rem;
  --border-radius-300: 1.5rem;
  --border-radius-400: 2rem;
  --border-radius-500: 2.5rem;
  --border-radius-600: 3rem;
  --border-radius-025: 0.125rem;
  --border-radius-050: 0.25rem;
  --box-shadow-4: 0px 4px 8px 0px rgba(35, 42, 49, 0.20);
  --box-shadow-8: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  --box-shadow-12: 0px 12px 12px 0px rgba(0, 0, 0, 0.25);
  --box-shadow-focus: 0px 0px 1px 2px #0997FF;
  --layout-content: 1320px;
  --layout-wide: 1320px;
  --layout-sidebar: 322px;
  --letter-spacing-none: normal;
  --letter-spacing-tight: -.01em;
  --letter-spacing-loose: .05em;
  --letter-spacing-looser: .1em;
  --line-height-tiny: 1.1rem;
  --line-height-small: 1.2rem;
  --line-height-medium: 1.4rem;
  --line-height-normal: 1.6rem;
  --font-size-heading-3xl: var(--heading-3xl-font-size);
  --font-size-heading-2xl: var(--heading-2xl-font-size);
  --font-size-heading-xl: var(--heading-xl-font-size);
  --font-size-heading-lg: var(--heading-lg-font-size);
  --font-size-heading-md: var(--heading-md-font-size);
  --font-size-heading-sm: var(--heading-sm-font-size);
  --font-size-heading-xs: var(--heading-xs-font-size);
  --font-size-body-lg: var(--body-lg-font-size);
  --font-size-body-md: var(--body-md-font-size);
  --font-size-body-sm: var(--body-sm-font-size);
  --font-size-quote: var(--quote-font-size);
  --font-size-placeholder: var(--placeholder-font-size);
  --font-size-caption: var(--caption-font-size);
  --font-size-button-label-lg: var(--button-label-lg-font-size);
  --font-size-button-label-md: var(--button-label-md-font-size);
  --font-size-button-label-sm: var(--button-label-sm-font-size);
  --font-size-form-label: var(--form-label-font-size);
  --font-size-date-label-md: var(--date-label-md-font-size);
  --font-size-date-label-sm: var(--date-label-sm-font-size);
  --font-size-label-lg: var(--label-lg-font-size);
  --font-size-label-md: var(--label-md-font-size);
  --font-size-label-sm: var(--label-sm-font-size);
  --spacing-25: 0.125rem;
  --spacing-50: 0.25rem;
  --spacing-75: 0.375rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-250: 1.25rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --spacing-none: 0rem;
}