@use '../helpers/mixins';

// Primary
.button {
  @include mixins.button-base;

  &--sm {
    @apply text-button-label-sm rounded-(--interactive-corner-radius-md) p-(--space-150);

    .component-icon {
      @apply text-[16px];
    }
  }

  &--lg {
    @apply text-button-label-lg rounded-(--interactive-corner-radius-lg) p-(--space-250);

    .component-icon {
      @apply text-[24px];
    }
  }

  // Primary
  &--primary:not(.button--reversed) {
    @include mixins.button-primary;
  }

  // Secondary
  &--secondary:not(.button--reversed) {
    @include mixins.button-secondary;
  }

  // Ghost
  &--ghost:not(.button--reversed) {
    @include mixins.button-ghost;
  }

  // Primary Reversed
  &--primary.button--reversed {
    @include mixins.button-primary-rev;
  }

  // Secondary Reversed
  &--secondary.button--reversed {
    @include mixins.button-secondary-rev;
  }

  // Ghost Reversed
  &--ghost.button--reversed {
    @include mixins.button-ghost-rev;
  }

  // Disabled States
  &--primary.button--disabled {
    @include mixins.button-primary-disabled;
  }

  &--secondary.button--disabled {
    @include mixins.button-secondary-disabled;
  }

  &--ghost.button--disabled {
    @include mixins.button-ghost-disabled;
  }

  // Disabled States Reversed
  &--primary.button--disabled.button--reversed {
    @include mixins.button-primary-rev-disabled;
  }

  &--secondary.button--disabled.button--reversed {
    @include mixins.button-secondary-rev-disabled;
  }

  &--ghost.button--disabled.button--reversed {
    @include mixins.button-ghost-rev-disabled;
  }

  // If social link component is used
  .social-links & {
    @apply rounded-(--social-media-radius)
           bg-(--nav-footer-social-bg)
           text-(--nav-footer-social-text)
           border-(length:--border-footer-social)
           border-transparent;

    &:hover {
      @apply bg-transparent
             text-(--nav-footer-social-text-hover)
             border-(--nav-footer-social-border-hover);
    }
  }
}
