.component-card-event {
  @apply bg-(--bg-card)
         rounded-(--card-corner-radius)
         gap-(--space-200)
         relative
         flex
         items-start
         flex-col
         lg:flex-row
         justify-between
         p-(--space-200)
         border-b-(length:--border-dynamic-card)
         border-(--border-card)
         min-h-full;
  filter: drop-shadow(var(--elevation-4));

  &--no-drop-shadow {
    filter: none;
  }

  &.cols-3,
  &.cols-4 {
    @apply lg:flex-col;
  }

  &__title {
    @apply block text-heading-xs no-underline hover:underline text-(--text-content);

    .cols-1 & {
      @apply text-heading-md;
    }

    .component-tag {
      transform: translateY(-3px);
    }
  }

  &__image-wrapper {
    @apply basis-full lg:basis-5/12;
  }

  &__date-indicator {
    @apply bg-(--bg-accent-dark)
           text-(--text-content-reversed)
           text-center
           uppercase
           flex flex-row lg:flex-col
           shrink-0
           justify-center items-center
           lg:w-[70px] lg:h-[70px]
           rounded-(--label-corner-radius)
           px-2 py-3
           gap-2 lg:gap-0
           text-body-lg
           font-bold;

    .cols-3 &,
    .cols-4 & {
      @apply lg:flex-row lg:gap-1 lg:w-auto lg:h-auto;
    }
  }

  &__date-indicator-day {
    @apply text-heading-xs;
  }

  &__date-indicator-date {
    @apply text-heading-sm;
  }

  &__content-wrapper {
    @apply flex flex-col grow items-start gap-(--space-300) flex-1;
  }

  &__content-type {
    @apply text-(--text-accent) uppercase text-label-md;
    margin-bottom: calc(var(--space-100) * -1);
  }

  &__date {
    @apply font-bold;
  }

  &__venue-name {}

  &__excerpt {}

  &__price-regular {
    @apply line-through text-(--text-disabled) text-body-sm mr-1;
  }

  &__cta {}

  .card__topics {
    @apply flex flex-wrap gap-(--space-075);

    > * {
      @apply inline-block pointer-events-none;

      .component-tag {
        @apply inline-block;
      }
    }
  }
}
