.component-card-product {
  @apply bg-[--bg-card] rounded-[--card-corner-radius] border-b-[length:--border-listing-card] border-[--border-card] p-[--space-200] gap-[--space-200] relative flex flex-col items-center h-full;
  filter: drop-shadow( var(--elevation-4) );

  img[class*="attachment-"] {
    @apply rounded-[--image-corner-radius] mb-[--space-050];
  }

  .onsale {
    @apply bg-[--bg-label-2] rounded-[--label-corner-radius] text-[--text-label-2] text-label-md p-[--space-150] absolute top-[12px] left-[12px] uppercase;
  }

  .price {
    @apply text-body-lg gap-[--space-200] flex justify-center;
    @apply font-normal;

    del {
      @apply text-[--text-content-secondary];
    }

    ins {
      @apply font-bold no-underline;
    }
  }

  .button {
    @apply button--primary;
    border: var(--border-interactive-md) solid var(--border-interactive);

    &:hover {
      border: var(--border-interactive-md) solid var(--border-interactive);
    }

    &.product_type_external {
      @include add-external-icon;
    }

    .add_to_cart_button__text-added {
      @apply hidden;
    }

    .add_to_cart_button__text {
      @apply block;
    }

    &.added {
      .add_to_cart_button__text-added {
        @apply block;
      }

      .add_to_cart_button__text {
        @apply hidden;
      }
    }

    &.button--disabled {
      @apply bg-[--bg-disabled] text-[--text-disabled] border-transparent #{!important};
    }
  }
}


.component-card-product__title-link {
  @apply no-underline hover:underline text-[--text-content];
}

.component-card-product__title,
.woocommerce-loop-product__title {
  @apply text-heading-xs block text-center text-[--text-content];
}
