@import 'helpers/mixins';

body {
  @apply text-body-md text-[--text-content] bg-[--bg-body];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--wp--preset--font-family--system-sans-serif);
}

a:where(:not(.wp-element-button)) {
  @apply text-[--interactive] underline hover:no-underline active:underline;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Extend tailwind container
.container {
  @include container-adjustments;
}

/* AlpineJS Helpers */
[x-cloak] { display: none !important; }

#wpadminbar {
  max-width: 100% !important;
}

/* Accessibility helper */
.webaim-hidden {
  @apply absolute w-px h-px p-0 -m-px overflow-hidden whitespace-nowrap border-0 #{!important};
  clip: rect(0, 0, 0, 0);
}