body {
  font-size: var(--wp--preset--font-size--body-md, 16px);
  color: var(--wp--preset--color--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--wp--preset--font-family--system-sans-serif);
}

// Override tailwind container
.container {
  @media (min-width: 1536px) {
    max-width: var(--wp--style--global--content-size) !important;
  }
  @media (min-width: var(--wp--style--global--content-size)) {
    max-width: var(--wp--style--global--content-size) !important;
  }
}

/* AlpineJS Helpers */
[x-cloak] { display: none !important; }