/* GLOBAL VARIABLES
------------------------------------------------------------------------------*/
@use 'variables/global';
/* HELPERS
------------------------------------------------------------------------------*/
@use 'helpers/reset';
@use 'helpers/mixins';

/* TAILWIND CSS
------------------------------------------------------------------------------*/
@use 'tailwindcss/base';
@use 'tailwindcss/components' as twComponents; // We should rarely need to reference this directly
@use 'tailwindcss/utilities';

/* THEME BASELINE STYLES
------------------------------------------------------------------------------*/
@use 'baseline';

/* COMPONENTS STYLES
------------------------------------------------------------------------------*/
// We use components/index to aggregate all component styles, so we can use modern @use. This avoids us needing to define each component individually here and we can now instead use `components.button-base` etc in other files. https://sass-lang.com/documentation/at-rules/use/#choosing-a-namespace
@use 'components/index' as components;

/* BLOCKS
------------------------------------------------------------------------------*/
@use 'blocks/core/index' as coreBlocks;
@use 'blocks/wicket/index' as wicketBlocks;

/* INTEGRATIONS
------------------------------------------------------------------------------*/
@use 'integrations/index' as integrations;

/* THEME STRUCTURE
------------------------------------------------------------------------------*/
@use "structure/header";
@use 'structure/navigation';
@use 'structure/page';
@use 'structure/forms';
@use 'structure/newsletter';
@use 'structure/not-found';
@use 'structure/footer-nav-menu';
@use 'structure/secondary-nav';
@use 'structure/search-page';
@use 'structure/search-bar-mobile';
@use 'structure/footer';
@use 'structure/main-footer-section';
@use 'structure/utility-nav';