.wc-block-featured-product {
  @apply rounded-(--card-corner-radius);
  @apply p-(--space-200)!;

  &__title {
    @apply text-heading-md text-(--text-content-reversed);
  }

  &__description,
  &__price {
    @apply text-body-lg text-(--text-content-reversed);
  }

  &__price {
    @apply font-bold;

    del {
      @apply text-(--text-content-secondary-reversed);
    }

    ins {
      @apply no-underline;
    }
  }

  &__link {
    // .wp-block-button__link.wp-element-button {
    //   @apply button;
    //   @include button-primary-rev;
    // }
  }

  .background-dim__overlay {
    @apply bg-(--bg-image-overlay)!;

    &::after,
    &::before {
      opacity: 1 !important;
    }
  }
}
