@use '../../helpers/mixins';

.woocommerce-info,
.woocommerce-message,
.woocommerce-error {
  @include mixins.wc-alert;

  @media (max-width: 767px) {
    margin-inline: var(--space-200);
  }
}

.woocommerce-info {
  @apply bg-(--state-info-primary-light) border-(--state-info-primary);

  &::before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNMTYgMEMyNC44MTI1IDAgMzIgNy4xODc1IDMyIDE2QzMyIDI0Ljg3NSAyNC44MTI1IDMyIDE2IDMyQzcuMTI1IDMyIDAgMjQuODc1IDAgMTZDMCA3LjE4NzUgNy4xMjUgMCAxNiAwWk0xNiAyOUMyMy4xMjUgMjkgMjkgMjMuMTg3NSAyOSAxNkMyOSA4Ljg3NSAyMy4xMjUgMyAxNiAzQzguODEyNSAzIDMgOC44NzUgMyAxNkMzIDIzLjE4NzUgOC44MTI1IDI5IDE2IDI5Wk0xOC41IDIxQzE5LjMxMjUgMjEgMjAgMjEuNjg3NSAyMCAyMi41QzIwIDIzLjM3NSAxOS4zMTI1IDI0IDE4LjUgMjRIMTMuNUMxMi42MjUgMjQgMTIgMjMuMzc1IDEyIDIyLjVDMTIgMjEuNjg3NSAxMi42MjUgMjEgMTMuNSAyMUgxNC41VjE3SDE0QzEzLjEyNSAxNyAxMi41IDE2LjM3NSAxMi41IDE1LjVDMTIuNSAxNC42ODc1IDEzLjEyNSAxNCAxNCAxNEgxNkMxNi44MTI1IDE0IDE3LjUgMTQuNjg3NSAxNy41IDE1LjVWMjFIMTguNVpNMTYgMTJDMTQuODc1IDEyIDE0IDExLjEyNSAxNCAxMEMxNCA4LjkzNzUgMTQuODc1IDggMTYgOEMxNy4wNjI1IDggMTggOC45Mzc1IDE4IDEwQzE4IDExLjEyNSAxNy4wNjI1IDEyIDE2IDEyWiIgZmlsbD0iIzRBQjJERSIvPgo8L3N2Zz4=");
  }
}

.woocommerce-error {
  @apply bg-(--state-error-light) border-(--state-error);

  &::before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMyIgaGVpZ2h0PSIzMyIgdmlld0JveD0iMCAwIDMzIDMzIiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNMzEuNzE1OCAyNi41MzA2QzMyLjcxNDUgMjguMjc4MiAzMS40NjYxIDMwLjQ2MjggMjkuNDA2NCAzMC40NjI4SDIuNzU0MjlDMC42OTQ1MjYgMzAuNDYyOCAtMC41NTM4MTUgMjguMjc4MiAwLjM4MjQ0MSAyNi41MzA2TDEzLjczOTcgMy44MTA3NkMxNC4zMDE0IDIuOTM2OTIgMTUuMTc1MyAyLjUgMTYuMTExNSAyLjVDMTYuOTg1NCAyLjUgMTcuODU5MiAyLjkzNjkyIDE4LjQyMSAzLjgxMDc2TDMxLjcxNTggMjYuNTMwNlpNMy4zNzg0NiAyNy40NjY4SDI4Ljc4MjJMMTYuMDQ5MSA1LjgwODFMMy4zNzg0NiAyNy40NjY4Wk0xNi4xMTE1IDIxLjU5OTZDMTcuMTcyNiAyMS41OTk2IDE4LjA0NjUgMjIuNDczNSAxOC4wNDY1IDIzLjUzNDVDMTguMDQ2NSAyNC41OTU2IDE3LjE3MjYgMjUuNDY5NSAxNi4xMTE1IDI1LjQ2OTVDMTQuOTg4IDI1LjQ2OTUgMTQuMTE0MiAyNC41OTU2IDE0LjExNDIgMjMuNTM0NUMxNC4xMTQyIDIyLjQ3MzUgMTQuOTg4IDIxLjU5OTYgMTYuMTExNSAyMS41OTk2Wk0xNC42MTM1IDExLjk4NzRDMTQuNjEzNSAxMS4xNzYgMTUuMjM3NyAxMC40ODk0IDE2LjExMTUgMTAuNDg5NEMxNi45MjMgMTAuNDg5NCAxNy42MDk1IDExLjE3NiAxNy42MDk1IDExLjk4NzRWMTcuOTc5NEMxNy42MDk1IDE4Ljg1MzMgMTYuOTIzIDE5LjQ3NzQgMTYuMTExNSAxOS40Nzc0QzE1LjIzNzcgMTkuNDc3NCAxNC42MTM1IDE4Ljg1MzMgMTQuNjEzNSAxNy45Nzk0VjExLjk4NzRaIiBmaWxsPSIjREMzNTQ1Ii8+Cjwvc3ZnPg==");
  }
}

.woocommerce-notice {
  font-size: var(--heading-sm-font-size);
}
