@use 'main';
@use 'buttons';
@use 'product-gallery';
@use 'onsale';
@use 'summary';
@use 'product-single';
@use 'upsells';
@use 'alerts';
@use 'variations';
@use 'grouped-products';
@use 'cart';
@use 'checkout';
@use 'thankyou';
@use 'shop';
@use 'order-review';

/* BLOCKS
------------------------------------------------------------------------------*/
@use 'blocks/featured-product';
@use 'blocks/featured-category';
@use 'blocks/product-category';
