.woocommerce {
  #order_review {

    .woocommerce-terms-and-conditions-wrapper {
      margin-bottom: var(--space-400);
    }
  }

  #payment #place_order {
    border-width: var(--border-interactive-md);
    border-color: rgba(0, 0, 0, 0);
    background-color: var(--bg-interactive);
    color: var(--text-button-label-reversed);

    &:hover {
      border-color: var(--border-interactive);
      background-color: rgba(0, 0, 0, 0);
      color: var(--text-button-label);
      -webkit-text-decoration-line: underline;
      text-decoration-line: underline;
    }
  }
}
