@use '../../helpers/mixins';
.woocommerce {
  & > .single-product {
    padding-top: 1rem;
  }

  .single-product__container {
    @apply grid grid-cols-1 lg:grid-cols-[42%_minmax(58%,_1fr)] gap-5;
  }

  div.product {
    /* Price */
    p.price {
      @apply justify-start;
    }

    .onsale {
      @apply bg-[--bg-label-2] rounded-[--label-corner-radius] text-[--text-label-2] text-label-md p-[--space-150] absolute top-[12px] left-[12px] uppercase;
    }  

    /* Quantity */
    .quantity {
      .qty {
        min-width: 70px;
      }
    }

    /* Short description */
    .woocommerce-product-details__short-description {
      margin-bottom: 1rem;
    }

    /* Stock */
    p.stock {
      @apply font-bold italic mb-4;

      &.out-of-stock {
        @apply text-[--state-error];
      }
    }

    /* Add to cart */
    form.cart {
      div.quantity {
        @apply mb-4;
      }

      .button {
        @apply button--primary;
        border: var(--border-interactive-md) solid var(--border-interactive);
    
        &:hover {
          border: var(--border-interactive-md) solid var(--border-interactive);
        }
      }
    }

    /* Product meta */
    .product_meta {
      .sku_wrapper {
        @apply mb-4 block;
      }

      .posted_in {
        @apply mb-4 block font-bold;

        a {
          @apply font-normal underline;
        }
      }
    }

    /* Social sharing */
    .component-social-sharing {
      @apply mb-4;
    }
  }

  /* Woocommerce Membership notifications */
  .woocommerce {
    @apply p-0;
  }

  /* Case: If product type is external */
  .product-type-external {
    /* Add to cart button */
    .single_add_to_cart_button {
      @include mixins.add-external-icon;
    }
  }
}
