.woocommerce-shop {
  .woocommerce.columns-4 {
    @include the-container;
    padding: 1rem 0;
  }

  ul.products {
    &.columns-4 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 1rem;
      row-gap: 2rem;

      &:before {
        display: none;
      }
    }

    li.product {
      @apply bg-[--bg-card] rounded-[--card-corner-radius] border-b-[length:--border-listing-card] p-[--space-200] gap-[--space-200] relative flex flex-col items-center h-full w-full m-0;

      a img {
        border-radius: var(--image-corner-radius);
      }

      .onsale {
        @apply bg-[--bg-label-2] rounded-[--label-corner-radius] text-[--text-label-2] text-label-md p-[--space-150] absolute top-[12px] left-[12px] uppercase right-auto;
      }

      .woocommerce-loop-product__title {
        font-size: var(--wp--preset--font-size--heading-xs);
        text-align: center;
      }

      .price {
        font-size: var(--wp--preset--font-size--heading-xs);
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        ins {
          font-weight: bold;
          text-decoration: none;
        }
      }

      .button {
        display: inline-flex;
      }
    }
  }
}
